[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    amend = commit --amend
[core]
    excludesFile = /Users/matthewdiamant/.gitignore_global
[user]
	name = Matt Diamant
	email = matt.diamant@dictionary.com
